* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.messenger {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 500px;
}

.message-list {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.bot {
  align-self: flex-start;
  background-color: #e1f5fe;
}

.message.user {
  align-self: flex-end;
  background-color: #dcedc8;
}

.message-input {
  display: fixed;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.message-input input {
  flex-grow: 1;
  padding: 3px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.message-input button {
  padding: 3px 5px;
  margin-left: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #3700b3;
}

.message-input-delete button {
  background-color: #b34800;
}

.message-input-delete button:hover {
  background-color: #871a09b8;
}
